@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.card-gold {
  background-color: gold;
}

.card-silver {
  background-color: silver;
}

.card-titanium {
  background-color: #aaa;
}
